
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/fonts/proxima_nova_regular-webfont.eot');
    src: url('../fonts/fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/fonts/proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/fonts/proxima_nova_regular.otf') format('opentype'),
         url('../fonts/fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../fonts/fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/fonts/proxima_nova_light.otf') format('opentype'),
         url('../fonts/fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/fonts/proxima_nova_semibold.otf') format('opentype'),
         url('../fonts/fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('../fonts/fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('../fonts/fonts/proxima_nova_thin-webfont.eot');
    src: url('../fonts/fonts/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
         url('../fonts/fonts/proxima_nova_thin-webfont.woff') format('woff'),
         url('../fonts/fonts/proxima_nova_thin.otf') format('opentype'),
         url('../fonts/fonts/proxima_nova_thin-webfont.ttf') format('truetype'),
         url('../fonts/fonts/proxima_nova_thin-webfont.svg#proxima_nova_ththin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'weathertimeregular';
    src: url('../fonts/fonts/weathertime-webfont.eot');
    src: url('../fonts/fonts/weathertime-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/weathertime-webfont.woff2') format('woff2'),
         url('../fonts/fonts/weathertime-webfont.woff') format('woff'),
         url('../fonts/fonts/weathertime-webfont.ttf') format('truetype'),
         url('../fonts/fonts/weathertime-webfont.svg#weathertimeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'proxima_nova_rgregular', 'Open Sans', sans-serif;
	min-width: 320px;
	font-size: 18px;
	line-height: 20px;
	color: #303030;
	background: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
a:focus{
	outline: none;
}

/*========================================== HEADER ====================================*/

.promo-top{
	text-align: center;
}
.header-wrap-top{
	margin: 23px auto 17px;
}
.top-menu{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.top-menu-item{
	display: inline-block;
	font-size: 14px;
	line-height: 34px;
	margin-right: 30px;
}
.top-menu-item:last-child{
	margin-right: 0;
}
.top-menu-item a{
	color: #828282;
	text-decoration: none;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
}
.top-menu-item a span{
	color: #475577;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}
.top-menu-item a span:hover{
	color: #e22041;
}
.widgets-item{
	text-align: center;
	display: inline-block;
	margin-left: 17px;
}
.widgets-item:first-child{
	margin-left: 0;
}
.widgets-item-value{
	color: #e22041;
	font-size: 16px;
	line-height: 18px;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
}
.widgets-item-name{
	color: #828282;
	font-size: 10px;
	line-height: 18px;
	font-family: 'proxima_nova_ththin', 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.widgets-item-name.widgets-date{
	font-size: 12px;
	line-height: 16px;
}
.weather-icon{
	font-family: 'weathertimeregular';
	color: #475577;
	font-size: 40px;
	text-align: center;
	display: inline-block;
}
.widgets-geo{
	display: inline-block;
}
.header-wrap-bottom{
	background: #475577;
	height: 50px;
}
.header-wrap-bottom .navbar{
	background-color: inherit;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

.header-wrap-bottom .navbar-right{
	margin-right: 0;
}
.header-wrap-bottom .navbar .navbar-nav>li{
	outline: none;
}
.header-wrap-bottom .navbar .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	transition: background .3s;
	height: 50px;    
}
.header-wrap-bottom .navbar .navbar-nav>li>a .fa.fa-bars,
.header-wrap-bottom .navbar .navbar-nav>li>a .fa.fa-search,
.header-wrap-bottom .navbar .navbar-nav>li>a .fa.fa-times{
	font-size: 20px;
}
.header-wrap-bottom .navbar .navbar-nav>.active>a{
	background-color:#28324e; 
}
.header-wrap-bottom .navbar .navbar-nav>li>a:hover,
.header-wrap-bottom .navbar .navbar-nav>.active>a:hover,
.header-wrap-bottom .navbar .navbar-nav>.active>a:focus,
.header-wrap-bottom .navbar .navbar-nav>.open>a,
.header-wrap-bottom .navbar .navbar-nav>.open>a:focus{
	color: #fff;
	background: #28324e;
}
.header-wrap-bottom .navbar .navbar-nav>li>a:focus{
	color: #fff;
	background: #475577;
}
.menu-divider::before {
	content: "";
	width: 1px;
	display: inline-block;
	height: 30px;
	margin-top: 10px;
	float: right;
	background: #747e95;
	margin-right: -1px;
}
.header-wrap-bottom .navbar .navbar-nav>.menu-divider.active::before,
.header-wrap-bottom .navbar .navbar-nav>.menu-divider:hover::before,
.header-wrap-bottom .navbar .navbar-nav>.menu-divider:focus::before,
.header-wrap-bottom .navbar .navbar-nav>.open.menu-divider::before{
	background: #475577;
}

/*.desctop-menu .navbar .dropdown:hover > .dropdown-menu {
	display: block;
}*/
.header-wrap-bottom .dropdown-menu{
	margin: 0;
	background: #475577;
	box-shadow: none;
	border-radius: 0;
	border: none;
	padding: 0;
}
.header-wrap-bottom .dropdown-menu li a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	transition: background .3s; 
	padding: 13px 20px;
}
.header-wrap-bottom .dropdown-menu li a:hover,
.header-wrap-bottom .dropdown-menu li.active a{
	background-color: #28324e;
}
.header-wrap-bottom .dropdown-menu.searchform{
	margin-top: 10px;
}
.searchform .form-group{
	margin-bottom: 0;
}
.searchform .form-control{
	border: none;
	border-radius: 0;
	background: #28324e;
	width: 320px;
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 34px;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	height: 48px;
}
.searchform .form-control:focus{
	box-shadow: none;
}
.searchform::before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #28324e transparent;
    position: absolute;
    right: 20px;
    margin-top: -8px;
}

/*---------------------------------mobile-menu---------------------------*/
.header-wrap-bottom .mobile-menu,
.header-wrap-bottom .mobile-menu .navbar{
	height: 50px;
}
.header-wrap-bottom .mobile-menu {
	margin: 0 -15px;
}
.mobile-menu-wrap{
	height: 50px;
	position: relative;
}
.header-wrap-bottom .mobile-menu .navbar-nav{
	margin: 0;
	float: left;
}
.header-wrap-bottom .mobile-menu .navbar-nav.navbar-right{
	float: right;
}
.mobile-logo-wrap{
	display: block;
	width: 119px;
	position: absolute;
	left: 50%;
	margin-left: -59px;
	top: 17px;
}
.mobile-logo-wrap a img{
	padding-bottom: 10px;
}
.header-wrap-bottom .mobile-menu .navbar-nav li a{
	padding: 15px;
}
.collapse-mobile-menu{
	background: #475577;
	padding: 20px 0;
	position: absolute;
	top: 50px;
	width: 320px;
	left: 0;
	z-index: 9999;	
}
.collapse-mobile-menu ul{
	list-style: none;
	padding: 0;
}
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	transition: background .3s;
	padding: 10px 20px; 
	display: block; 
}
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li a:hover,
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li a:focus,
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li.active a:focus,
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li.active a{
	text-decoration: none;
	background: #28324e;
}
.header-wrap-bottom .mobile-menu .navbar-nav .collapse-mobile-menu ul li:focus{
	outline: none;
}
.socsite{
	padding: 0 20px 20px;
}
.socsite-item{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 25px;
}
.header-wrap-bottom .mobile-menu .navbar-nav .socsite .socsite-item a{
	display: block;
	width: 30px;
	height: 30px;
	color: #dcdcdc;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	text-align: center;
	font-size: 16px; 
	padding:5px 0;
	transition: all .3s;
}
.header-wrap-bottom .mobile-menu .navbar-nav .socsite .socsite-item a:hover{
	color: #e22041;
	border: 1px solid #e22041;
}

.socsite-item:last-child{
	margin-right: 0;
}

/*========================================== CONTENT ====================================*/

/*------------------- 404 ----------------------*/
.page404{
	background: url(../images/404.png) right top no-repeat;
	margin: 100px auto 120px;
	min-height: 210px;
}
.page404-title{
	color: #303030;
	font-size: 32px;
	line-height: 40px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 30px;
}
.page404-subtitle{
	color: #303030;
	font-size: 18px;
	line-height: 20px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 25px;
}
.page404-text{
	color: #303030;
	font-size: 18px;
	line-height: 20px;
	max-width: 650px;
}
.page404-text a{
	color: #475577;
	text-decoration: underline;
}
.page404-text a:hover{
	text-decoration: none;
}

/*------------------- about ----------------------*/
.about-img-wrap{
	background: #91918f url(../images/about.jpg) top center no-repeat;
	height: 400px;
	text-align: center;
	margin-top: 20px;
}
.about-img-wrap .btn-default {
	color: #fff;
	background-color: #e22041;
	border: none;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	width: 115px;
	height: 30px;
	top:50%;
	margin-top: 170px;
}
.about-img-wrap .btn-default:focus{
	outline: none;
}
.about-img-wrap .btn-default:active:focus{
	color: #fff;
	background-color: #e22041;
	border:none;
	outline: none;
}
.about-wrap{
	padding-bottom: 20px;
}
.about-title{
	color: #303030;
	font-size: 32px;
	line-height: 40px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 25px;
	padding-top: 40px;
}
.about-subtitle{
	color: #303030;
	font-size: 18px;
	line-height: 20px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 20px;
}
.about-text{
	color: #303030;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 20px;
}
.about-wrap a{
	color: #475577;
	text-decoration: underline;
}
.about-wrap a:hover{
	text-decoration: none;
}
/*------------------- article ----------------------*/
.article-wrap{
	margin-top: 20px;
}
.tag-name{
	color: #fff;
	font-size: 10px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0 10px;
	background: #475577;
	display: inline-block;
}
.tag-date{
	color: #989898;
	font-size: 10px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0 10px;
	display: inline-block;
}
h2{
	color: #303030;
	font-size: 32px;
	line-height: 40px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}
.img-title-wrap{
	margin: 13px auto;	
	position: relative;
	max-width: 620px;
}
.photo-name-wrap{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(120,120,120,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(120,120,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(120,120,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#787878',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 620px;
}
.photo-name{
	margin: 0 15px;
	border-top: 1px solid #dcdcdc;
	color: #dcdcdc;
	font-size: 10px;
	line-height: 34px;
	text-transform: uppercase;
}
.article-subtitle{
	font-size: 18px;
	line-height: 20px;
	color: #303030;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 20px;
}
.article-text{
	padding-bottom: 20px;
	color: #303030;
	font-size: 18px;
	line-height: 20px;
}
.article-text a{
	color: #475577;
	text-decoration: underline;
}
.article-text a:hover{
	color: #475577;
	text-decoration: none;
}
.promo-content{
	margin: 0 auto 20px;
	text-align: center;
}
.article-img{
	padding-bottom: 20px;
	text-align: center;
}
.article-more-title{
	font-size: 14px;
	line-height: 24px;
	color: #828282;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	overflow: hidden;
}
.article-more-title span{
	color: #475577;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.article-more-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #dcdcdc;
    position: relative;
    margin-right: -100%;
    right: -10px;
    top: -3px;
}
.article-more-item{
	border-bottom: 1px solid #dcdcdc;
	padding: 15px 0;
	font-size: 14px;
	line-height: 19px;
}
.article-more-item a{
	color: #303030;
	text-decoration: none;
}
.article-more-item a:hover{
	color: #828282;
	text-decoration: none;
}
.article-more-item a span{
	color: #e22041;
	text-transform: uppercase;
}
.other-news-wrap{
	margin-bottom: 20px;
}
.other-news-site,
.other-news-site:hover{
	color: #e22041;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	display: block;
	padding: 5px 0 3px;
}
.other-news-title{
	color: #303030;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;	
	display: block;
}
.other-news-title:hover{
	color: #828282;
	text-decoration: none;
}
.comments-wrap{
	margin-bottom: 20px;
}
/*------------------- photo ----------------------*/
.photo-wrap{
	background: #f4f4f4;
	margin-bottom: 20px;
	padding: 10px 10px 20px;
}
.photo-about{
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	padding: 10px 0 20px;	
}
.photo-wrap .img-title-wrap{
	margin: 0px auto;	
}
.photo-wrap .photo-name{
	border-top: none;
}
.photo-wrap .img-title-wrap,
.photo-wrap .photo-name-wrap{
	max-width: 600px;
}
.navigation{
	position: relative;
	margin-bottom: 30px;
}
.pagination{
	margin: 0px auto;
	position: absolute;
	top:0;
	left:50%;
	margin-left: -110px;
}
.pagination>li>a {
	position: relative;
	float: left;
	padding: 9px 12px;
	text-decoration: none;
	color: #7c7c7c;
	background-color: #fff;
	border: 1px solid #475577;
	margin: 0 10px;
	width: 60px;
	font-size: 10px;
	line-height: 14px;
	display: block;
	text-align: center;
}
.pagination>li.active>a,
.pagination>li.active>a:focus,
.pagination>li.active>a:hover,
.pagination>li>a:hover,
.pagination>li>a:focus{
	border:1px solid #dcdcdc;
	background: #fff;
	color: #a9a9a9;
}
.pagination>li:last-child>a {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0px;
}
.pagination>li:first-child>a {
	margin-left: 0px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 0px;
	background-color: #fff;
	border: none;
	border-radius: 0;
	color: #111;
}
.pager .disabled>a{
	color: #a0a0a0;
}
.pager li>a:hover, .pager li>a:focus {
	text-decoration: none;
	background-color: #fff;
}
.pager li>a:hover{
	color: #a0a0a0;
}
/*------------------- video ----------------------*/
.video-about{
	text-align: right;
	font-size: 11px;
	line-height: 20px;
	padding-top: 10px;
	color: #303030;
}
.video-about-text{
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	padding: 10px 0 10px;
}
video{
	margin: 0 auto;
	/*cursor: pointer;*/
}

/*------------------- sidebar ----------------------*/
.top-news-title{
	font-size: 14px;
	line-height: 24px;
	color: #828282;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	overflow: hidden;
	margin-top: 20px;
}
.top-news-title span{
	color: #e22041;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.top-news-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #dcdcdc;
    position: relative;
    margin-right: -100%;
    right: -10px;
    top: -3px;
}
.top-news-item{
	font-size: 14px;
	line-height: 19px;
	color: #303030;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 15px 0;
	border-bottom: 1px solid #dcdcdc;
}
.top-news-item a{
	color: #303030;
	text-decoration: none;
}
.top-news-item .top-news-active-item,
.top-news-item a:hover{
	color: #828282;
	text-decoration: none;
}
.top-news-item span{
	color: #e22041;
	text-decoration: none;
}
.top-news-item-img{
	float: left;
	text-align: left;
	width: 70px;
}
.top-news-item-text{
	float: left;
	width:200px;
	font-size: 12px;
	line-height: 15px;
}
.promo-sidebar{
	text-align: center;
	margin: 20px auto;
}
.sidebar-top-wrap .footer-item-text{
	width: 167px;
}
.sidebar-top-wrap .footer-item-title{
	color: #303030;
}
.sidebar-top-wrap .footer-item-section{
	color: #828282;
}
.sidebar-top-wrap .footer-item-block:last-child{
	border-bottom: 1px solid #dcdcdc;
}
.sidebar-top-wrap .nav-tabs {
   border-bottom: none;
}
.sidebar-top-wrap .nav-tabs>li>a{
	font-size: 14px;
	line-height: 34px;
	color: #828282;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	background: inherit;
	border: none;
	border-bottom: 2px solid #dcdcdc;
	padding: 0 8px;
	margin-right: 0;
	text-align: center;
	display: block;
}
.sidebar-top-wrap .nav-tabs>li{
	width: 50%;
}
.sidebar-top-wrap .nav-tabs>li>a>span{
	color: #475577;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.sidebar-top-wrap .nav-tabs>li>a:hover{
	border-bottom: 2px solid #e22041;
}
.sidebar-top-wrap .nav-tabs>li>a:hover>span{
	color: #e22041;
}
.sidebar-top-wrap .nav-tabs>li.active>a, 
.sidebar-top-wrap .nav-tabs>li.active>a:hover, 
.sidebar-top-wrap .nav-tabs>li.active>a:focus {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #e22041;
    cursor: default;
}
.sidebar-top-wrap .nav-tabs>li.active>a>span, 
.sidebar-top-wrap .nav-tabs>li.active>a:hover>span, 
.sidebar-top-wrap .nav-tabs>li.active>a:focus>span{
	color: #e22041;
}
.right-sidebar .top-news-item-img{
	width: 125px;
	height: 86px;
}
.right-sidebar .top-news-item-text{
	width:167px;
	font-size: 13px;
	line-height: 17px;
	height: 86px;
}
.right-sidebar .top-news-item-title{
	height: 73px;
	overflow: hidden;
}
.top-news-item-section{
	font-size: 9px;
	line-height: 13px;
	text-transform: uppercase;
}
.top-news-item-section a,
.top-news-item-section a:hover{
	color: #828282;
	text-decoration: none;
}

/*========================================== FOOTER ====================================*/
footer{
	background: #475577;
}
.footer-best-wrap{
	padding: 45px 0 20px;
	border-bottom: 1px solid #5a6685;
}
.footer-item-block{
	padding: 20px 0 15px;
	border-bottom: 1px solid #dcdcdc;
}
.footer-item-block:last-child{
	border-bottom: none;
}
.footer-item-link{
	display: block;
}
.footer-item-img{
	position: relative;
	width: 115px;
	height: 86px;
	float: left;
}
.footer-item-link .footer-item-img .footer-img-gradient{ /* FF3.6-15 */
background: -moz-linear-gradient(top, rgba(120,120,120,1) 0%, rgba(150,150,150,0.62) 22%, rgba(169,169,169,0.4) 36%, rgba(188,188,188,0.18) 50%, rgba(201,201,201,0) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(120,120,120,1) 0%,rgba(150,150,150,0.62) 22%,rgba(169,169,169,0.4) 36%,rgba(188,188,188,0.18) 50%,rgba(201,201,201,0) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(120,120,120,1) 0%,rgba(150,150,150,0.62) 22%,rgba(169,169,169,0.4) 36%,rgba(188,188,188,0.18) 50%,rgba(201,201,201,0) 60%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
position: absolute;
	width: 115px;
	height: 86px;
	top: 0;
	left: 0;
	display: block;
	color: #c8ccd6;
	font-size: 36px;
	text-align: center;
	padding-top: 25px;
	text-decoration: none;
}
.footer-item-link:hover .footer-item-img .footer-img-gradient{
	text-decoration: none;
	background: #e22041;
	opacity: .5;
}

.footer-item-img img{
	width: 115px;
	height: 86px;
}
.footer-item-text{
	float: left;
	margin-left: 10px;
	width: 275px;
	height: 86px;
}
.footer-item-title{
	font-size: 13px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
	height: 73px;
	overflow: hidden;
	color: #fff;
}
/*.footer-item-title a{
	color: #fff;
	text-decoration: none;
	display: block;
}
.footer-item-title a:hover{
	text-decoration: none;
	color: #fff;	
}*/
.footer-item-section{
	font-size: 9px;
	line-height: 13px;
	text-transform: uppercase;
	color: #e6e6e6;
}
/*.footer-item-section a{
	color: #e6e6e6;
	text-decoration: none;
}
.footer-item-section a:hover{
	text-decoration: none;
	color: #e22041;
}*/
.footer-best-item{
	position: relative;
	max-width: 400px;
}
.footer-best-item .nav-tabs {
   border-bottom: none;
}
.footer-best-item .nav-tabs>li{
	float: right;
}
.footer-best-item .nav-tabs>li>a{
	font-size: 9px;
	text-transform: uppercase;
	line-height: 24px;
	color: #8f8f8f;
	background: inherit;
	border: none;
	padding: 0 8px;
	margin-right: 0;
}
.footer-best-item .nav-tabs>li>a:hover{
	color: #e22041;
}
.footer-best-item .nav-tabs>li.active>a, 
.footer-best-item .nav-tabs>li.active>a:hover, 
.footer-best-item .nav-tabs>li.active>a:focus {
    color: #e22041;
    background-color: inherit;
    border: none;
    cursor: default;
}
.footer-best-title{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
}
.footer-best-title span{
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}
.footer-best-item hr{
	width: 150px;
	height: 2px;
	color: #dcdcdc;
	background: #dcdcdc;
	border:none;
	position: absolute;
	top: 9px;
	right: 110px;
	display: block;
	margin: 0;
}

.footer-wrap{
	padding: 40px 0 25px;
}
.copyright{
	font-size: 12px;
	line-height: 18px;
	color: #c8c8c8;
	text-transform: uppercase;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 15px 0 5px;
}
.age-category{
	font-size: 12px;
	line-height: 18px;
	color: #c8c8c8;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
}
.footer-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-menu ul li{
	float: left;
}
.footer-menu ul li a{
	color: #dcdcdc;
	font-size: 12px;
	line-height: 18px;
	font-family: 'proxima_nova_ltsemibold', 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 0 40px 10px 0;
}
.footer-menu ul li:last-child a{
	padding:  0 0px 10px 0;
}
.footer-menu ul li a:hover{
	text-decoration: none;
	color: #e22041;
}
.footnote{
	font-size: 11px;
	line-height: 16px;
	color: #c8c8c8;
	font-family: 'proxima_nova_ltlight', 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 15px;
}
.footer-wrap .socsite{
	padding: 0;
	width: 270px;
	margin-left: 130px;
}
.footer-wrap .socsite .socsite-item a{
	display: block;
	width: 30px;
	height: 30px;
	color: #dcdcdc;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	text-align: center;
	font-size: 16px; 
	padding:5px 0;
	transition: all .3s;
}
.footer-wrap .socsite .socsite-item a:hover{
	color: #e22041;
	border: 1px solid #e22041;
}
.metrics{
	margin-top: 42px;
	width: 304px;
	margin-left: 96px;
}
.metrics-item{
	display: inline-block;
	margin-left: 15px;
}
.metrics-item:first-child{
	margin-left: 0;
}


/*===============================media================================*/

/* Medium Devices, Desktops (1306-1200) */
@media only screen and (max-width: 1306px) and (min-width: 1200px) {
	.container{
		width: 1140px;
	}
	.top-menu-item{
		margin-right: 20px;
	}
	.widgets-item{
		margin-left: 7px;
	}
	.footer-item-text{
		width: 225px;
	}
	.footer-best-item hr{
		width: 100px;
	}
	.footer-menu ul li a {
		padding: 0 29px 10px 0;
	}
	.metrics {
		margin-left: 46px;
	}
	.footer-wrap .socsite {
		margin-left: 80px;
	}
	.top-news-item-text {
    width: 185px;
  }
  .sidebar-top-wrap .footer-item-text {
  	width: 130px;
  }
  .right-sidebar .top-news-item-text {
  	width: 130px;
  }
  video{
  	width: 520px;
  	height: 330px;
  }
}
/* Medium Devices, Desktops (1199-992) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.top-menu-item{
		margin-right: 8px;
		margin-top: 3px;
	}
	.widgets-item{
		margin-left: 15px;
	}
	.header-logo-wrap{
		margin-top: 5px;
	}
	.desctop-menu .navbar .navbar-nav>li>a{
		padding: 15px 14px;
	}
	.dropdown-menu.dropdown-menu-more{
		right: 0;
		left: initial;
	}
	.footer-item-text{
		width: 168px;
	}
	.footer-best-item hr{
		width: 50px;
		height: 1px;
	}
	.metrics {
		margin-left: 0px;
		width: 292px;
		margin-top: 86px;
	}
	.footer-wrap .socsite {
		margin-left: 24px;
	}
	.metrics-item{
		margin-left: 9px;
	}
	.top-news-item-text {
    width: 142px;
  }
  .sidebar-top-wrap .footer-item-text {
  	width: 130px;
  }
  .right-sidebar .top-news-item-text {
  	width: 130px;
  }
  video{
  	width: 435px;
  	height: 250px;
  }
}

/* Small Devices, Tablets (991-768) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.header-logo-wrap{
		margin-bottom: 5px;
	}
	.desctop-menu .navbar .navbar-nav>li>a{
		font-size: 12px; 
		padding: 15px 8px;
	}
	.desctop-menu .navbar .navbar-nav>li>a .fa.fa-bars{
		font-size: 16px;
	}
	.desctop-menu .navbar .navbar-nav>li>a .fa.fa-search{
		font-size: 16px;
	}
	.dropdown-menu.dropdown-menu-more{
		right: 0;
		left: initial;
	}
	.desctop-menu .dropdown-menu li a{
		font-size: 12px;
	}
	.footer-best-item{
		margin: 0 0 20px;
	}
	.footer-best-wrap{
		padding: 45px 0 0px;
	}
	.footer-menu{
		margin-top: 20px;
	}
	.footer-wrap .socsite{
		margin-top: 30px;
		margin-left: 0;
	}
	.metrics{
		margin-left: 0;
	}
}
/* Mobile (768 > ) */
@media only screen and (max-width: 767px) {
	.header-wrap-bottom .mobile-menu .navbar-nav.navbar-right .dropdown-menu{
		position: absolute;
	}	
	.header-wrap-bottom .mobile-menu .navbar-nav.navbar-right .dropdown-menu.searchform{
		right: 0;
		left: auto;
	}	
	.footer-wrap{
		max-width: 300px;
		text-align: center;
		margin: 0 auto;
	}
	.footer-menu{
		margin: 20px auto 0;
	}
	.footer-wrap .socsite{
		margin: 20px auto 0;
	}
	.metrics{
		margin: 25px auto 0;
		width: 284px;
	}
	.metrics-item{
		margin-left: 5px;
	}
	.footer-menu ul li a{
		text-align: center;
		padding: 0 20px 10px;
	}
	.footer-menu ul li:last-child a {
		padding: 0 20px 10px;
	}
	.footer-menu ul{
		margin: 0 auto;
		width: 270px;
	}
	.footnote{
		padding-top: 10px;
	}
	.promo-top-mobile{
		margin: 10px auto;
	}
	.about-img-wrap{
		background: #91918f url(../images/about-mob.jpg) top center no-repeat;
		height: 160px;
	}
	.about-img-wrap .btn-default{
		margin-top: 70px;
	}
	.about-title{
		font-size: 18px;
		line-height: 24px;
		padding-top: 25px;
	}
	.about-subtitle{
		font-size: 16px;
	}
	.about-text{
		font-size: 14px;
		line-height: 18px;
	}
	h2{
		font-size: 18px;
		line-height: 24px;
	}
	.article-subtitle {
    font-size: 16px;
  }
  .article-text {
  	font-size: 14px;
  	line-height: 18px;
  }
  .article-more-item {
    font-size: 13px;
  }
  .photo-about{
  	font-size: 14px;
  	line-height: 18px;
  }
  video{
  	width: 270px;
  	height: 180px;
  }
  .video-about-text{
  	font-size: 14px;
  	line-height: 18px;
  }
}

/* Mobile (480 > ) */
@media only screen and (max-width: 480px) {
	.page404{
		background: url(../images/404-mob.png) center top no-repeat;
		margin: 30px auto;
		min-height: 155px;
	}
	.page404-title{
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 20px;
		padding-top: 60px;
	}
	.page404-subtitle{
		font-size: 16px;
	}
	.page404-text{
		font-size: 14px;
		line-height: 18px;
	}
	.right-sidebar .footer-item-text {
    margin-left: 8px;
  }	
}