body{
	font-family: Arial, sans-serif;
  	font-weight: normal;
	min-width: 320px;
	font-size: 16px;
	color: #000;
	background: #0f1113 url(../images/background.jpg) top center no-repeat; 
}
.exo{
	font-family: 'Exo 2', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
h3{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}
a img:hover{
	opacity: .8;
}
a:focus{
	outline: 0;
}
.italic{
	font-style: italic;
}
.mb15{
	margin-bottom: 15px;
}
.color-button, .color-button:focus, .color-button:active{
  	background: #009999;
  	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
  	font-size: 30px;
  	color: #fff;
  	text-transform: uppercase;
  	border: 2px solid #009999;
  	border-radius: 0;
  	width: 100%;
  	height: 50px;
  	outline: 0;
  	padding: 0 12px;
}
.color-button:hover, .color-button:active:hover{
  background: transparent;
  color: #009999;
  border: 2px solid #009999;
  outline: 0;
}

/*============================= header =============================*/

.main-menu{
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 30px 0;
}
.main-menu-block{
	width: 980px;
	margin: 0 auto;
}
.main-menu .navbar-nav>li{
	padding: 0 15px;
}
.main-menu .navbar-nav>li>a{
	color: #fff;
	font-size: 14px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 0;
}
.main-menu .navbar-nav>li>a:hover{
	color: #009999;
}
.main-menu .navbar-nav>li.active>a,
.main-menu .navbar-nav>li>a:focus,
.main-menu .navbar-nav>li.active>a:focus{
	background: none;
	border-bottom: 1px solid #fff;
	color: #fff;	
}
.main-menu .navbar-nav>li.dropdown>a:focus,
.main-menu .navbar-nav>li.dropdown.open>a,
.main-menu .navbar-nav>li.dropdown.open>a:focus,
.main-menu .navbar-nav>li.dropdown.open>a:hover{
	border-bottom: none;
	color: #009999;
	background: none;
}
.main-menu .navbar-nav>li.active>a:hover{
	background: none;
	color: #009999;
}
.main-menu .inline{
	color: #009999;
}
.main-menu .inline .inline-link,
.main-menu .inline .inline-link:focus{
  	display: inline-block;
  	color: #009999;
  	font-size: 16px;
  	font-weight: 400;
 	text-transform: none; 
 	border-bottom: none; 
}
.main-menu .inline .inline-link:hover{
	color: #fff;
	border-bottom: none;
}
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu{
	background: #ccc;
	width: 164px;
	border-radius: 0;
	border: 1px solid #c2c3c4;
	text-align: center;
	padding: 20px;
	left: inherit;
	margin-left: -75px;
}
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu li a,
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu li a:focus{
	font-size: 14px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding: 10px;
	background: none;
}
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu li:first-child a{
	padding-top: 0;
}
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu li:last-child a{
	padding-bottom: 0;
}
.main-menu .navbar-nav>li.dropdown ul.dropdown-menu li a:hover{
	background: none;
	color: #009999;
}
.main-menu .navbar-nav>li.dropdown.language>a{
	color: #999;
}
.main-menu .navbar-nav>li.dropdown.language>a:hover,
.main-menu .navbar-nav>li.dropdown.language.open>a,
.main-menu .navbar-nav>li.dropdown.language.open>a:focus,
.main-menu .navbar-nav>li.dropdown.language.open>a:hover{
	color: #fff;
}
.main-menu .navbar-nav>li.dropdown.search .search-form{
	width: 310px;
	height: 50px;
	left: inherit;
	right: 0;
	top:0;
	border-radius: 0;
	border: none;
	background: #fff;
	margin-bottom: 0;
	padding: 0;	
}
.main-menu .navbar-nav>li.dropdown.search .search-form input{
	border-radius: 0;
	border: none;
	height: 50px;
	color: #707070;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	width: 260px;
	box-shadow: none;
}
.main-menu .navbar-nav>li.dropdown.search .search-form input:focus{
	border: none;
	box-shadow: none;
}
.main-menu .search-form .form-control::-webkit-input-placeholder {color:#707070;}
.main-menu .search-form .form-control::-moz-placeholder          {color:#707070;}/* Firefox 19+ */
.main-menu .search-form .form-control:-moz-placeholder           {color:#707070;}/* Firefox 18- */
.main-menu .search-form .form-control:-ms-input-placeholder      {color:#707070;}
.main-menu .search-form .form-control:focus::-webkit-input-placeholder {color: transparent}
.main-menu .search-form .form-control:focus::-moz-placeholder          {color: transparent}
.main-menu .search-form .form-control:focus:-moz-placeholder           {color: transparent}
.main-menu .search-form .form-control:focus:-ms-input-placeholder      {color: transparent}
.search-btn{
	border: none;
	border-radius: 0;
	height: 50px;
	width: 46px;
	color: #009999;
	font-size: 14px;
	box-shadow: none;
}
.search-btn:hover, .search-btn:focus, .search-btn:active, .search-btn:active:hover{
	color: #009999;
	background: #fff;
	border: none;
	box-shadow: none;
	outline: 0;
}

/*------------------------------ small-menu --------------------*/
.main-menu.small-menu{
	padding: 15px 0;
	background: rgba(0, 0, 0, .45);
}
.main-menu.small-menu .dropdown .dropdown-menu li.active a{
	color: #009999;
	text-decoration: none;
	background: none;
}
.main-menu.small-menu .navbar-nav>li.dropdown ul.dropdown-menu{
	left: 87px;
}
.main-menu.small-menu .navbar-nav>li.language.dropdown ul.dropdown-menu{
	left: -50px;
}
.main-menu.small-menu .navbar-header{
	width: 100%;
}

/*================================= modal =================================*/

.modal-content{
  	border: none;
  	border-radius: 0;
  	box-shadow: none;
}
.modal-header{
  	border-bottom: 0;
  	padding-bottom: 0;
}
.modal-body{
  	padding-top: 0;
  	padding-bottom: 30px;
  	overflow: hidden;
}
.modal-body h4{
  	font-size: 40px;
  	color: #000;
  	font-family: 'Exo 2', sans-serif;
  	font-weight: 700;
  	text-align: center;  
}
.modal-header-text{
	color: #009999;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
  	font-weight: 300; 
  	text-align: center;
}
.modal-body .form-group{
  	margin-top: 20px;
}
.modal-body label{
  	font-size: 16px;
  	font-family: 'Exo 2', sans-serif;
  	font-weight: 300;
  	color: #181a1f;
}
.modal-body input, .modal-body select{
  	border-radius: 0;
  	box-shadow: none;
  	color:#373737;
  	border: none;
  	background: #e8e8e8;
  	font-family: 'Exo 2', sans-serif;
  	font-weight: 300;
  	font-size: 16px;
}
.modal-body input:focus, .modal-body select:focus{
  	box-shadow: none;
  	border: none;
  	background: #e8e8e8;
}
.modal-body select, .modal-body select option{
	font-family: 'Exo 2', sans-serif;
  	font-weight: 700;  	
}
.modal-body select option{
	font-size: 14px;
	padding: 5px 0;
}
.modal-body .color-button{
  	margin-top: 20px;
}
.modal-socsite {
	width: 265px;
	margin: 10px auto 25px;
}
.modal-or{
	width: 270px;
	margin: 0 auto;
}
hr{
	background: #e8e8e8;
	width: 115px;
	margin-top: 14px;
	margin-bottom: 0;
}
.modal-or .modal-header-text{
	width: 40px;
	text-align: center;
	margin-bottom: 0;
}
.modal-welcome h4{
	text-align: left;
	color: #ffcc66;
	font-size: 24px;
}
.modal-welcome .modal-header-text{
	text-align: left;
}
.modal-welcome .welcome-text{
	margin-bottom: 0;
	margin-top: 20px;
	color: #000;
	font-size: 16px;
}
.checkbox{
	margin-top: 20px;
}
.checkbox label{
	font-weight: 700;
}
.checkbox input[type=checkbox]{
	top:2px;
}
/*.checkbox input[type=checkbox] {
  	display: none;
}
.checkbox label:before{
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top:3px;
  vertical-align: middle;
  background-color: #009999;
  border: none;
 } 
input[type=checkbox]:checked + label:before {
    content: "\2714";
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    font-family: Helvetica;
} */

/*============================= section top =============================*/

.top-name{
	width: 730px;
	margin: 0 auto;
	text-align: center;
}
.top-name h1{
	font-size: 120px;	
	margin-bottom: 0;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-shadow: 0px 0px 28px rgba(0,0,0,.8);
}
.top-name-text{
	font-size: 40px;
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-shadow: 5px 4px 15px rgba(0,0,0,.8);
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-bottom: 50px;
}
.top-applications{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 0;
	margin-top: 15%;
}
.top-applications-number{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 80px;
	line-height: 80px;
}
.join-btn, .join-btn:focus{
	width: 175px;
	height: 85px;
	display: block;
	border: 2px solid #009999;
	border-radius: 0;
	background: #009999;
	color: #fff;
	font-size: 70px;
	line-height: 72px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin: 25% auto 0;
	padding: 0 15px;
}
.join-btn:hover{
	color: #009999;
	background: transparent;
	text-decoration: none;
}
.top-short-news{
	margin: 50px 0;
	font-size: 24px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}
.top-short-news span{
	background: #fff;	
}
.top-short-news .top-news-date{
	color: #009999;
	font-weight: 500;
}
.top-short-news p{
	text-align: center;
	margin-top: 40px;
}
.top-short-news .news-link{
	font-size: 22px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: #009999;
	text-decoration: none;	
}
.top-short-news .news-link:hover{
	text-decoration: underline;
	color: #009999;
}
.welcome-block{
	background: rgba(196, 196, 197, .73);
	padding: 50px 150px;
}
.welcome-block .welcome{	
	border-style: solid;
	border-width: 27px;
	-moz-border-image: url(../images/bw.png) 27 stretch;
	-webkit-border-image: url(../images/bw.png) 27 stretch;
	-o-border-image: url(../images/bw.png) 27 stretch;
	border-image: url(../images/bw.png) 27 stretch;
	text-align: center;
	padding: 0px 10px;
}
.welcome-header{
	font-size: 35px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	letter-spacing: 5px;
	margin-bottom: 30px;
}
.welcome-text{
	color: #fff;
	font-size: 25px;
}
.welcome-small-text{
	font-size: 20px;
	margin-top: 20px;
}

/*============================= section main-content =============================*/

.main-content{
	padding: 70px 0;
}

.biography{
	border-style: solid;
	border-width: 27px;
	-moz-border-image: url(../images/bw.png) 27 stretch;
	-webkit-border-image: url(../images/bw.png) 27 stretch;
	-o-border-image: url(../images/bw.png) 27 stretch;
	border-image: url(../images/bw.png) 27 stretch;
	text-align: center;
	padding: 0px 5px;
	color: #fff;
}
.biography-name{
	font-size: 30px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 0px;
}
.biography .italic{
	color: #999;
	margin-bottom: 0;
}
.small-biography-name.italic{
	margin-bottom: 25px;
}
.pub-box{
	max-width: 290px;
	margin: 0 auto;
}
.pub-block{
	background: #fff;
	padding: 15px;
	font-family: 'Exo 2', sans-serif;
	max-width: 290px;
}
.pub-block-text{
	margin-bottom: 0;
}
.pub-block-text span{
	color: #009999;	
	font-weight: 500;
}
.pub-block-text a{
	color: #181a1f;
	text-decoration: none;
	font-weight: 700;
}
.pub-block-text a:hover{
	text-decoration: underline;
}
.pub-link{
	margin-top: 30px;
	padding-bottom: 70px;
	border-bottom: 1px solid #272727;
	margin-bottom: 70px;
	text-align: center;
	font-size: 18px;
}
.pub-link a{
	color: #009999;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
.pub-link a:hover{
	text-decoration: underline;
}
.contests-text{
	color: #fff;
}
.contests-list{
	width: 300px;
	margin: 20px auto;
	list-style: none;
	padding-left: 0;
	text-align: center;	
}
.contests-list li{
	display: inline-block;
	margin: 0 5px;	
}
.contests-list li:before{
	content: '\2022';
	color: #999;
	padding-right: 10px;
}
.contests-list li:first-child:before{
	content: '';
	padding-right: 0;
	margin-left: 0;
}
.contests-list li a{
	color: #009999;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}
.contests-list li a:hover{
	text-decoration: underline;
}
.iframe{
	width: 290px;
	margin: 0 auto;
}

/*================================= section bottom =========================*/

.bottom{
	background: #090a0b;
	padding: 70px 0;
}
.map{
	background: #dadadb;
}
.map h4{
	text-align: center;
	font-size: 35px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	padding: 15px;
}
.map img{
	border-bottom: 1px solid #c6c6c7;
}
.map p{
	padding: 35px;
	margin: 0;
}
.section-table{
	display: table;
	width: 100%;
}
.section-row{
	display: table-row;
	width: 100%;
	border-bottom: 1px solid #000;
}
.section-cell-th{
	display: table-cell;
	vertical-align: top;
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	padding: 2px;
}
.section-cell{
	display: table-cell;
	vertical-align: top;
	font-size: 12px;
	color: #ffffcc;
	padding: 2px;
	border-bottom: 1px solid #000;
	background: #272727;
}
.section-cell.gray{
	color: #999;
}
.section-cell.white{
	color: #fff;
	font-weight: 700;
}
.bottom .section-cell.up{
	color: #669966;
}
.bottom .section-cell.down{
	color: #999933;
}
.bottom .number{
	text-align: right;
	width: 11%;
}
.bottom .country{
	text-align: left;
	width: 41%;
}
.bottom .country2{
	text-align: left;
	width: 59%;
}
.bottom .raiting{
	text-align: center;
	width: 18%;
}
.bottom .applications{
	text-align: center;
	width: 30%;
}
.table-link{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	margin-bottom: 0;
	padding-top: 10px;
}
.table-link a{
	color: #009999;
	text-decoration: none;	
}
.table-link a:hover{
	text-decoration: underline;
	color: #009999;
}

/*================================= footer =========================*/

footer{
	background: #000;
	padding: 70px 0;
}
.socsite-block{
	width: 230px;
	margin: 0 auto 70px;
}
.socsite-block a{
	display: inline-block;
}
.socsite-block a img{
	margin: 0 2px;
}
.contacts{
	max-width: 990px;
	margin: 0 auto;
	border-style: solid;
	border-width: 27px;
	-moz-border-image: url(../images/bw.png) 27 stretch;
	-webkit-border-image: url(../images/bw.png) 27 stretch;
	-o-border-image: url(../images/bw.png) 27 stretch;
	border-image: url(../images/bw.png) 27 stretch;
	text-align: center;
	padding: 0px 5px;
	color: #fff;
}
.contact-block{
	margin: 0 auto;
}
.contact-item{
	padding: 5px 10px;
	font-size: 24px;
	text-align: left;
}
.contact-item.contact-item-name{
	text-align: right;
}
.contact-item a{
	font-size: 18px;
	font-style: italic;
	color: #fff;
	text-decoration: none;
}
.contact-item a:hover{
	color: #fff;
	text-decoration: underline;
}
.contact-more{
	font-size: 14px;
	color: #999;
	padding-top: 20px;
}
.contact-more span{
	color: #fff;
}
.contact-more a{
	color: #999;
	text-decoration: underline;
}
.contact-more a:hover{
	text-decoration: none;
}
.footer-partners{
	width: 600px;
	margin: 70px auto 45px;
}
.footer-partners a{
	display: inline-block;	
}
.footer-partners a img{
	padding: 0 30px;
}
.copyright{
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}
.trademark{
	font-size: 12px;
	text-align: center;
	margin-bottom: 0;
	color: #fff;
	padding: 0 10px;
}

/*===============================media================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main-menu-block{
		width: 870px;
		margin: 0 auto;
	}
    .main-menu .navbar-nav>li {
    	padding: 0px 10px;
	}
	.top-short-news {
		font-size: 21px;
	}	
	.contacts {
    	max-width: 700px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body{
		font-size: 14px;
		background-size: auto 1500px;
	}
	.top-short-news {
		font-size: 16px;
	}		
	.top-name h1{
		margin-top: 50px;
	}
	.top-applications-number {
		font-size: 65px;
		line-height: 65px;
	}
	.top-short-news .news-link {
    	font-size: 20px;
    	text-shadow: 5px 4px 15px rgba(0,0,0,.8);
	}
	.welcome-header {
    	font-size: 20px;
	}
	.welcome-text {
		font-size: 16px;
	}
	.welcome-small-text {
    	font-size: 14px;
	}
	.main-content, .bottom, footer {
		padding: 50px 0;
	}
	.pub-block-text{
		font-size: 16px;
	}
	.pub-link{
		margin-bottom: 50px;
		padding-bottom: 50px;
	}
	.socsite-block{
		margin-bottom: 50px;
	}
	.footer-partners{
		margin-top: 50px;
	}
	.interval-top{
		margin-top: 30px;
	}	
	.join-btn, .join-btn:focus{
		margin-top: 20%;
	}
}	
@media only screen and (width : 992px) {
	.interval-top{
		margin-top: 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body{
		background-size: auto 1100px; 
	}
	.top-name{
		width: 440px;
	}
	.top-name h1{
		font-size: 60px;
		margin-top: 30px;
	}
	.top-name-text{
		font-size: 20px;
	}
	.small-menu .navbar-header{
		margin: 0;
	}
	.small-menu .navbar-nav{
		margin: 0;
	}
	.small-menu .navbar-nav li{
		display: inline-block;
	}
	.small-menu .navbar-nav .open .dropdown-menu{
		position: absolute;
	}
	.join-btn, .join-btn:focus{
		font-size: 50px;
		line-height: 60px;
		height: 70px;
		width: 140px;
		margin-top: 18%;
	}
	.top-applications-number {
		font-size: 50px;
		line-height: 50px;
	}
	.top-applications {
		font-size: 20px;
	}
	.top-short-news{
		font-size: 24px;
		margin-bottom: 30px;
	}
	.interval-top20{
		margin-top: 20px;
	}
	.top-short-news p {
		margin-top: 30px;
	}
	.welcome-block{
		padding: 30px;
	}
	.main-content, .bottom, footer {
		padding: 30px 0;
	}
	.pub-link{
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	.section-table{
		width: 345px;
		margin: 0 auto;
	}
	.socsite-block{
		margin-bottom: 30px;
	}
	.footer-partners a img{
		padding: 0;
	}
	.footer-partners a{
		display: block; 
		margin-top: 20px;
	}
	.footer-partners{
		margin: 10px auto 30px;
		text-align: center;
		width: 280px;
	}
	.contact-item.contact-item-name{
		text-align: center;
		padding-top: 20px;
		line-height: 22px;
	}
	.contact-item{
		padding: 0 10px;
		text-align: center;
		line-height: 20px;
		font-size: 20px;
	}
	.contact-item a {
		font-size: 16px;
	}
	.contacts{
		max-width: 450px
	}
	.contacts h3{
		margin-bottom: 10px;
	}
	h3{
		font-size: 30px;
	}
	.map h4{
		font-size: 25px;
	}
	.navbar-form.search-form .form-group {
		margin-bottom: 0px;
		display: inline-block;
		vertical-align: middle;
	}
	.main-menu .navbar-nav>li.dropdown.search .search-form{
		right: 25%;
	}
}

@media only screen and (max-width : 560px) {
	body{
		background-size: auto 1000px; 
	}
	.top-applications-number {
		font-size: 35px;
		line-height: 35px;
	}
	.top-applications {
		font-size: 20px;
	}
	.join-btn, .join-btn:focus{
		font-size: 35px;
		line-height: 45px;
		height: 55px;
		width: 120px;
		margin-top: 18%;
	}
	.contacts {
		max-width: 270px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body{
		background-size: auto 670px; 
	}
	.main-menu.small-menu{
		padding: 5px 0;
	}
	.top-name{
		width: 300px;
	}
	.top-name h1{
		font-size: 35px;
		margin-top: 20px;
	}
	.top-name-text{
		font-size: 14px;
		margin-bottom: 30px;
	}
	.top-applications {
		font-size: 12px;
	}
	.top-applications-number {
		font-size: 24px;
		line-height: 24px;
	}
	.join-btn, .join-btn:focus{
		font-size: 20px;
		line-height: 30px;
		height: 35px;
		width: 65px;
		margin-top: 18%;
		padding: 0 5px;
	}
	.top-short-news {
		font-size: 18px;
	}
	.top-short-news .news-link{
		font-size: 18px;
	}
	.welcome-block{
		padding: 15px;
	}
	.welcome-block .welcome{	
		border-style: none;
		border-width: 0;
		-moz-border-image: none;
		-webkit-border-image: none;
		-o-border-image: none;
		border-image: none;
		padding: 0px;
	}
	.welcome-header {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.biography-name {
		font-size: 20px;
	}
	h3{
		font-size: 24px;
		margin-bottom: 20px;
	}
	.pub-link{
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.contests-list li a{
		font-size: 14px;
	}
	.map h4 {
		font-size: 20px;
	}
	.map p {
		padding: 20px;
	}	
	.section-table {
		width: 290px;
	}
	.contact-item{
		font-size: 18px;
	}
	.contact-item a {
		font-size: 14px;
	}
	.modal-body h4 {
		font-size: 24px;
	}	
}